<div class="text-right" style="padding-bottom: 2em">
    <button type="button" class="btn btn-default btn-md"  routerLink="/contact" routerLinkActive="active">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
    </button>
</div>

<ul class="list-group">
  <li class="list-group-item justify-content-between" *ngFor="let contact of contactsCollection.toArray()">
        <span class="info"><a href="" [routerLink]="['/contact', contact.id]">{{contact.name}}</a></span> 
        <span class="info">{{contact.email}}</span>
        <span class="info">{{contact.phone}}</span>        
        <span class="delete badge badge-default badge-pill" (click)="delete(contact, $event)">x</span>
    </li>
</ul>